# Python virtual environment
.venv/
env/
venv/

# Compiled Python files
__pycache__/
*.py[cod]

# CDK output & context
cdk.out/
cdk.context.json

# Node modules
node_modules/

# IDE/editor files
.vscode/
.idea/
*.swp

# Local Website folder
website/